<p><%= link_to "back to project", project_path(Section.find(params[:id]).project) %></p>

<% if policy(@section).edit? %>
  <%= link_to edit_section_path(@section) do %>
    <span><i class="fas fa-edit"></i> Edit section</span>
  <% end %>
<% end %>

<% if policy(@section).destroy? %>
  <%= link_to section_path(@section), method: :delete, data: { confirm: 'Are you sure?' } do %>
    <span> <i class="far fa-trash-alt"></i> Delete section</span>
  <% end %>
<% end %>

<h1>Section: <%= @section.title %></h1>
<p><%= @section.description %></p>

<p>Team: <% @section.members.each do |member| %>
    <%= member.username %>
  <% end %></p>

<% if policy(@section).new_card %>
  <%= link_to new_section_card_path(@section) do %>
    <span><i class="fas fa-plus"></i> New card</span>
  <% end %>
<% end %>

<% @section.cards.each do |card| %>
  <hr>

  <h4 style="color: <%= card.color.name %>;"><strong><%= link_to card.title, card_path(card) %></strong></h4>
  <p><%= card.description %></p>
  <p><%= "Leader: #{card.leader.username}" if card.leader %></p>

  <p>Team: <% card.members.each do |member| %>
      <%= member.username %>
    <% end %></p>

  <p><%= "Category: #{card.category} | Status: #{card.status} | Priority: #{card.priority}" %></p>
<% end %>
