<p><%= link_to "back to dashboard", dashboard_path %></p>

<%= link_to new_project_section_path(@project) do %>
  <span><i class="fas fa-plus"></i> New section</span>
<% end %>

<h1>Project: <%= @project.title %></h1>
<p><%= @project.description %></p>

<% @project.sections.each do |section| %>
  <br>
  <hr>

  <h4 style="color: <%= section.color.name %>;"><strong><%= link_to section.title, section_path(section) %></strong></h4>
  <p><%= section.description %></p>
  <p><%= "Leader: #{section.leader.username}" if section.leader %></p>

  <p>Members: <% section.members.each do |member| %>
      <%= member.username %>
    <% end %></p>

  <p>Cards: <%= section.cards.count %></p>
  <hr>
<% end %>
