<p><%= link_to "back to section", section_path(params[:section_id]) %></p>

<h2>New Card</h2>

<%= form_with(model: @card, url: section_cards_path(params[:section_id]), local: true) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :start_date %>
  <%= f.date_select :start_date %>

  <%= f.label :end_date %>
  <%= f.date_select :end_date %>

  <%= f.label :priority %>
  <%= f.select(:priority, options_for_select(["low", "medium", "high"])) %>

  <%= f.label :status %>
  <%= f.select(:status, options_for_select(["new", "in progress", "done"])) %>

  <%= f.label :category %>
  <%= f.select(:category, options_for_select(["issue", "feature"])) %>

  <%= f.label :leader %>
  <%= collection_select(:card, :leader_id, Section.find(params[:section_id]).members, :id, :username) %>

  <%= f.label :color %>
  <%= collection_select(:card, :color_id, Color.all, :id, :name) %>

  <%= f.submit "Create card" %>
<% end %>
